[submodule "projects/lim-api"]
	path = projects/lim-api
	url = git@github.com:titaniper/lim-api.git
[submodule "prompt-engineering"]
	path = prompt-engineering
	url = git@github.com:titaniper/prompt-engineering.git
[submodule "projects/llm"]
	path = projects/llm
	url = git@github.com:onlybooks/llm.git
