[submodule "projects/lim-api"]
	path = projects/lim-api
	url = git@github.com:titaniper/lim-api.git
[submodule "prompt-engineering"]
	path = prompt-engineering
	url = git@github.com:titaniper/prompt-engineering.git
[submodule "projects/llm"]
	path = projects/llm
	url = git@github.com:onlybooks/llm.git
[submodule "langchain"]
	path = langchain
	url = git@github.com:titaniper/langchain.git
[submodule "projects/llmjs"]
	path = projects/llmjs
	url = git@github.com:titaniper/llmjs.git
[submodule "projects/reportjs"]
	path = projects/reportjs
	url = git@github.com:titaniper/reportjs.git
